<%- include ("../partials/header") %> 
<!-- <h1>Admin</h1>

<a href="/admin/add">Add Teacher</a> <br>
<a href="/admin/manage">Manage Teachers</a> -->

<div class="row" style="text-align: center;">
  <div class="col-md-6 mb-4">
    <div class="card form-container">
      <div class="card-body">
        <h5 class="card-title">Add Teachers</h5>
        <p class="card-text">Add teachers with their details and generate a password for them</p>
        <a href="/admin/add" class="btn btn-primary btn-block">Add &nbsp;&nbsp;<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="card form-container">
      <div class="card-body">
        <h5 class="card-title">Manage Teachers</h5>
        <p class="card-text">Update a teacher's details or delete a teacher</p>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/admin/manage" class="btn btn-primary btn-block">Manage  &nbsp;&nbsp;<i class="fas fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>

<%- include ("../partials/footer") %> 