<%- include ("./partials/header") %> 


<img src="https://learn.getgrav.org/user/pages/11.troubleshooting/01.page-not-found/error-404.png" class="error mb-3" alt="">


<!-- <div style="width: 450px; border: 2px dotted black; padding: 30px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
    <h1 style="text-align: center; text-decoration: underline;">Student Overview System</h1>
    <h3 style="padding-top: 10px;">You're Successfully Added as a Student</h3>
    <div style="text-align: center; padding: 20px;">
        <img src="https://cdn3.iconfinder.com/data/icons/education-2-2/256/Student_Reading-512.png" alt="student-img" style="width: 50%; border-radius: 50%; border: 2px solid black;">
    </div>
    <p>Here are your account details: </p>
    <ul>
        <li>Name: ${name}</li>
        <li>Email: ${email}</li>
        <li>Username: ${username}</li>
    </ul>
    <p><strong>Note: </strong>For password to your account contact admin</p>
    <a href="https://ancient-oasis-06214.herokuapp.com/teachers/login">Click Here To Login</a>
</div> -->


<%- include ("./partials/footer") %> 