<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Student Overview System</title>
        <link rel="icon" type="image/png" href="/images/favicon.png">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>
    <body class="animated fadeInDown fast">
        <div id="home">
            <div class="landing-text">
                <h1 class="animated fadeInDown delay-1s">Student Overview System</h1>
                <p class="lead animated fadeInDown delay-1s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod.</p>
                <p class="lead animated fadeInDown delay-1s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut tortor sit amet elit faucibus.</p>
                <p class="lead animated fadeInDown delay-1s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at arcu mi.</p>
                <a href="/index" class="btn btn-success button animated fadeInDown delay-1s"><span>Get Started</span></a>
                <a href="#footer" class="btn btn-info button animated fadeInDown delay-1s"><span>About</span></a>
                <div class="arrow-down">
                </div>
            </div>
            
        </div>
        
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="https://pngimage.net/wp-content/uploads/2018/06/logo-admin-png-4.png" style="border-radius: 50%;" alt="">
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2>Admin</h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, magni maiores neque tempore voluptates sapiente, doloribus repellendus impedit id voluptatibus illum vero itaque odit maxime.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="fixed1">
            <!-- Image Fixed -->
        </div>
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <h2>Teachers</h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, magni maiores neque tempore voluptates sapiente, doloribus repellendus impedit id voluptatibus illum vero itaque odit maxime.</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <img style="width: 60%; border-radius: 50%;" src="https://previews.123rf.com/images/tuktukdesign/tuktukdesign1802/tuktukdesign180200197/95917370-teacher-icon-vector-male-person-profile-avatar-with-a-book-and-teaching-in-school-college-or-univers.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div id="fixed2">
            <!-- Image Fixed -->
        </div>
        <div class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ1TLNa9cA0CONWCEvzv4l5vSHyLy4GadK0gKlS_PINAzaQjUT&s" style="border-radius: 50%;" alt="">
                    </div>
                    <div class="col-sm-6 text-center">
                        <h2>Students</h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, magni maiores neque tempore voluptates sapiente, doloribus repellendus impedit id voluptatibus illum vero itaque odit maxime.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="fixed3">
            <!-- Image Fixed -->
        </div>
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <h2>Contact Us</h2>
                        <p class="lead">Rishikesh Suvarna.</p>
                        <a class="lead" href="mailto:rishikeshsuvarna@gmail.com">rishikeshsuvarna@gmail.com</a>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2>Connect</h2>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <h2>About Us</h2>
                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quia accusamus magnam voluptatem minima sunt molestias, tenetur eligendi quam aperiam quisquam excepturi nesciunt, ex dolor, iure facere necessitatibus fugit assumenda.</p>
                    </div>
                </div>
            </div>
        </footer>
    
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>