<%- include ("../partials/header") %> 
<h1 class="mb-5">Teachers Page</h1>

<div class="row" style="text-align: center;">
    <div class="col-md-6 mb-4">
      <div class="card form-container">
        <div class="card-body">
          <h5 class="card-title">Add Students</h5>
          <p class="card-text">Add students with their details and generate a password for them</p>
          <a href="/teachers/add" class="btn btn-primary btn-block">Add &nbsp;&nbsp;<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card form-container">
        <div class="card-body">
          <h5 class="card-title">Manage Students</h5>
          <p class="card-text">Update a student's details or delete a student</p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/teachers/manage" class="btn btn-primary btn-block">Manage  &nbsp;&nbsp;<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card form-container">
        <div class="card-body">
          <h5 class="card-title">Add Test</h5>
          <p class="card-text">Add Tests for students</p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/teachers/addtest" class="btn btn-primary btn-block">Add  &nbsp;&nbsp;<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card form-container">
        <div class="card-body">
          <h5 class="card-title">Manage Test</h5>
          <p class="card-text">Manage Tests for students</p>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="/teachers/managetest" class="btn btn-primary btn-block">Manage  &nbsp;&nbsp;<i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>

<%- include ("../partials/footer") %>