html, body {
    width: 100%;
    /* background: #fff; */
    background: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.bg-text {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 25vh;
}

.bg-text>h1 {
    font-weight: 600;
    font-size: 8rem;
}

.bg-text>p {
    font-size: 1rem;
}

.bg-text>p:nth-of-type(1) {
    font-size: 1.5rem;
}
/* ===================================================================== */

.button {
    transition: all 0.2s;
    cursor: pointer;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.2s;
}

.button span:after {
    content: '\00bb\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.2s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/* ===================================================================== */
@media(max-width: 500px){
    .bg-text {
        z-index: 1;
        position: relative;
        text-align: center;
        padding-top: 20vh;
    } 
    .bg-text>h1 {
    font-size: 3.5rem;
    }

    .bg-text>a {
       margin-top: 20px;
    }

    .bg-text>p {
        display: none;
        font-size: .8rem;
    }
    .bg-text>p:nth-of-type(1) {
        font-size: .8rem;
    }

}
