html, body {
    /* background: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat; */
    /* background-size: cover; */
    background-image: linear-gradient(to right, #74ebd5, #ACB6E5);
    background-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bg-text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
}

.bg-text>h1 {
    font-weight: 600;
    font-size: 8rem;
}

.bg-text>p {
    font-size: 1rem;
}

p:nth-child(1) {
    font-size: 20px;
}

@media(max-width: 500px){
    .bg-text>h1 {
    font-size: 5rem;
    }
    .bg-text>p {
        font-size: 15px;
    }

}
